[Unit]
Description=Run usb Canary
SuccessAction=

[Service]
WorkingDirectory=/path/to/folder/usb_canary
Restart=always
StandardOutput=journal
StandardError=journal
SyslogIdentifier=usb-canary
RestartSec=10s
TimeoutStopSec=15
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
